@use '../base/variables' as v;
@use '../base/mixins' as m;

.dashboard{
    background: v.$grisClaro;

    @include m.tablet {
        display: flex;
        height: 100vh;
    }
    .main{
        flex: 1;
        overflow-y: auto;
        min-height: 100vh;
    }

    .content{
        padding: 2rem;
        .page-name{
            font-size: 4rem;
            text-align: center;
        }
    }

    .formulario{
        input[type="submit"]{
            @include m.boton(v.$indigo, v.$blanco);
            &{
                padding: 1.1rem;
                font-weight: 700;
            }
        }
    }
}