@use '../base/variables' as v;
@use '../base/mixins' as m;
@use 'sass:color';

.modal{
    position: absolute;
    background: rgb(0, 0, 0, .7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .formulario{
        max-width: 60rem;
        background-color: v.$blanco;
        padding: 2rem;
        margin: 0 auto;
        transform: translateY(-30rem);
        transition-property: all;
        transition-duration: 450ms;
        transition-timing-function: ease-in;
        opacity: 0;
        border-radius: 1rem;

        legend{
            font-size: 2rem;
            text-align: center;
            font-weight: bold;
            margin-bottom: 2rem;
            display: block;
        }

                
        

        .options{
            display: flex;
            justify-content: space-between;
            gap: 2rem;
            flex-direction: column;
            .submit-new-task{
                width: auto;
                @include m.boton(v.$indigo, v.$blanco);
            }
            
            .close-modal{
                @include m.boton(v.$naranja, v.$blanco);
            }
            
            @include m.tablet {
                flex-direction: row;
            }

        }

        &.animate{
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            opacity: 1;
        }

        &.cerrar{
            transform: translateY(-200%);
            opacity: 0;
        }
        
    }
}